body {
    font-family: 'Brandon Grotesque Medium';
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background-color: #000;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; /* Chrome */
}

:root {
    --color1: #E3E3E1;
    --color2: #931C35;
    --color3: #78005E;
}

.main-container {
    justify-items: center;
    column-gap: 1.5em;
    margin: auto 2em;
    overflow: auto;
    display: grid;
}

header {
    box-shadow: 0px -90px 60px -50px #000 inset;
    background-image: url('assets/City.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    height: 100vh;
    display: flex;
}

.future,
.relationship {
    -webkit-text-stroke-color: var(--color3);
    -webkit-text-stroke-width: 1px;
    white-space: nowrap;
    color: var(--color2);
    letter-spacing: 0px;
    line-height: 100%;
    overflow: hidden;
    font-size: 6.5em;
    width: 616px;
    height: auto;
    margin: 0;
}

.future {
    transform: translate(0, 0) rotate(90deg);
    bottom: 50%;
    left: 0;
}

.relationship {
    transform: translate(-10%, -225%) rotate(90deg);
    font-size: 2.15em;
}

p {
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2.4px;
    color: var(--color1);
    line-height: 140%;
    font-size: 0.75em;
    flex-shrink: 0;
    display: flex;
}

span {
    color: var(--color2);
    display: contents;
}

img {
    object-fit: cover;
    height: 296px;
    width: 296px;
}

#pg1 {
    grid-area: pg1;
}

#ph1 {
    grid-area: ph1;
}

#pg2 {
    grid-area: pg2;
}

#ph2 {
    grid-area: ph2;
}

#pg3 {
    grid-area: pg3;
}

#ph3 {
    grid-area: ph3;
}

#pg4 {
    grid-area: pg4;
}

#ph4 {
    grid-area: ph4;
}

#pg5 {
    grid-area: pg5;
}

#ph5 {
    grid-area: ph5;
}

#pg6 {
    grid-area: pg6;
}

#v1 {
    grid-area: v1;
}

#pg7 {
    grid-area: pg7;
}

#v2 {
    grid-area: v2;
}

/*Mobile*/
.main-container {
    grid-template:
        "pg1 pg1 pg1 pg1" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "ph1 ph1 ph1 ph1" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg2 pg2 pg2 pg2" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "ph2 ph2 ph2 ph2" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg3 pg3 pg3 pg3" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "ph3 ph3 ph3 ph3" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg4 pg4 pg4 pg4" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "ph4 ph4 ph4 ph4" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg5 pg5 pg5 pg5" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "ph5 ph5 ph5 ph5" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg6 pg6 pg6 pg6" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "v1 v1 v1 v1" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "pg7 pg7 pg7 pg7" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto) "v2 v2 v2 v2" minmax(1em, auto) " .   .   .   .  " minmax(1em, auto);

    text-align: center;
}

/*Tablet*/
@media (min-width: 50em) {
    .main-container {
        grid-template:
            "pg1 pg1 pg1 pg1 ph1 ph1 ph1 ph1" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "ph2 ph2 ph2 ph2 pg2 pg2 pg2 pg2" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg3 pg3 pg3 pg3 ph3 ph3 ph3 ph3" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg4 pg4 pg4 pg4 pg4 pg4 pg4 pg4" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "ph4 ph4 ph4 ph4 ph4 ph4 ph4 ph4" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg5 pg5 pg5 pg5 pg5 pg5 pg5 pg5" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "ph5 ph5 ph5 ph5 ph5 ph5 ph5 ph5" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg6 pg6 pg6 pg6 v1 v1 v1 v1" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto) "v2 v2 v2 v2 pg7 pg7 pg7 pg" minmax(1em, auto) " .   .   .   .   .   .   .   .  " minmax(1em, auto);

        margin: auto 4em;
    }

    .future {
        transform: translate(0, 0) rotate(0deg);
    }

    .relationship {
        transform: translate(0, 0) rotate(0deg);
    }

    p {
        font-size: 0.75em;
        text-align: left;
        height: 296px;
        width: 296px;
    }

    .longpg {
        text-align: center;
        width: 616px;
        height: auto;
    }

    .longph {
        width: 616px;
    }

    iframe {
        height: 296px;
        width: 100%;
    }
}

/*Desktop*/
@media (min-width: 75em) {
    .main-container {
        grid-template:
            "pg1 pg1 pg1 pg1 ph1 ph1 ph1 ph1 pg2 pg2 pg2 pg2" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto) "ph2 ph2 ph2 ph2 pg3 pg3 pg3 pg3 ph3 ph3 ph3 ph3" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg4 pg4 pg4 pg4 pg4 pg4 ph4 ph4 ph4 ph4 ph4 ph4" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto) "ph5 ph5 ph5 ph5 ph5 ph5 pg5 pg5 pg5 pg5 pg5 pg5" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto) "pg6 pg6 pg6 pg6 pg6 pg6 v1 v1 v1 v1 v1 v1" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto) "v2 v2 v2 v2 v2 v2 pg7 pg7 pg7 pg7 pg7 pg7" minmax(1em, auto) " .   .   .   .   .   .   .   .   .   .   .   .  " minmax(1em, auto);

        margin: auto 8em;
    }

    .future {
        transform: translate(0, 0) rotate(0deg);
    }

    .relationship {
        transform: translate(0, 0) rotate(0deg);
    }

    img {
        height: 379px;
        width: 379px;
    }

    p {
        text-align: left;
        font-size: 1em;
        height: 379px;
        width: 379px;
    }

    .longpg,
    .longpg2 {
        text-align: left;
        height: 379px;
        width: 580px;
    }

    .longph {
        height: 379px;
        width: 100%;
    }

    iframe {
        height: 379px;
        width: 100%;
    }
}